.podcastInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 34%;
  align-self: flex-start;
  box-shadow: 0px 3px 11px -3px rgba(0, 0, 0, 0.4);
}

.imageContainer {
  padding: 1rem 2.5rem;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.separator {
  height: 0.06rem;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(223, 217, 217);
}

.titleContainer {
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.descriptionContainer {
  padding: 1rem;
}
